body{
  background: yellowgreen;
  font-family: poppins, system-ui, sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%
}

nav{
  background-color: rgba(255,255,255,0.75);
  display: flex;
}

nav a {
  color:black;
  padding: 20px;
  text-decoration: none;
  transition: background-color 0.5s;
}

nav a:hover{
  background: rgba(255,255,255,0.4);
}

nav a.active {
  background: white;
}

.cardgroup {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.card {
  background: rgba(255,255,255,0.4);
  padding: 20px;
  border: solid 10px white;
  margin: 10px;
}
